---
import { getCollection } from "astro:content";

import Link from "../../components/Link.astro";
import Prose from "../../components/Prose.astro";
import { formatDate } from "../../dates";
import Layout from "../../layouts/Layout.astro";

const allBlogPosts = await getCollection("blog");
---

<Layout title="^utan blog" pageType="blog">
  <header class="mb-8">
    <Prose fake>
      <h1>^blog archive</h1>
    </Prose>
  </header>

  <ul class="flex flex-col gap-4">
    {
      allBlogPosts.map((post) => (
        <li>
          <Prose fake>
                        <div class="flex gap-2">
             {
              post.data.image ? (
                    <Image
                      src={post.data.image.src}
                      alt={post.data.image.alt}
                      width={post.data.image.w}
                      height={post.data.image.h}
                      class="h-auto w-full"
                      transition:name={post.data.title + post.data.image.src}
                    />
              ) : <div class="w-full h-auto bg-neutral-500"></div>
            }
            <div class="flex flex-col gap-2 prose-h2:m-0 ">

              <Link
                url={`/blog/${post.slug}`}
                transition:name={post.data.title}
              >
                <h2 class="transition-colors duration-300 hover:text-red-500">
                  {post.data.title}
                </h2>
              </Link>

              <div class=" text-slate-600 dark:text-slate-300">
                {formatDate(post.data.publishDate)}
              </div>
            </div>
            </div>
          </Prose>
        </li>
      ))
    }
  </ul>
</Layout>

<style></style>
