---
import { Image } from "astro:assets";
import Prose from "../components/Prose.astro";
import TagList from "../components/TagList.astro";
import Layout from "./Layout.astro";
import { formatDate } from "../dates";
import Utan from "../components/Utan.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <header class="mb-2">
    <Prose>
      <h1
        class="text-nord-0 dark:text-nord-6"
        transition:name={frontmatter.title}
      >
        {frontmatter.title}
      </h1>
    </Prose>
    <p>
      Written by <Utan>
        {frontmatter.author}
      </Utan>
       and published on <time
        datetime={frontmatter.date}
        transition:name={frontmatter.title + frontmatter.date}
      >
        {formatDate(frontmatter.publishDate)}
      </time>
    </p>

    <TagList
      tags={frontmatter.tags}
      transition:name={frontmatter.title + frontmatter.tags.join(":")}
    />

    <div
      class="mb-8 mt-8 rounded-lg border border-nord-4 shadow dark:border-nord-1"
    >
      {
        frontmatter.image ? (
          <Image
            src={frontmatter.image.src}
            alt={frontmatter.image.alt}
            width={frontmatter.image.w}
            height={frontmatter.image.h}
            class="h-auto w-full rounded-lg"
            transition:name={frontmatter.title + frontmatter.image}
          />
        ) : null
      }
    </div>

    <Prose>
      <slot />
    </Prose>
  </header>
</Layout>
