---
import Prose from "../components/Prose.astro";
import TagList from "../components/TagList.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <header class="mb-2">
    <h1
      class="mb-1 font-mono text-4xl font-bold text-nord-0 dark:text-nord-6"
      transition:name={frontmatter.title}
    >
      {frontmatter.title}
    </h1>
    <p>
      Written by <span class="font-mono font-bold text-nord-10">
        {frontmatter.author}
      </span>
    </p>

    <TagList
      tags={frontmatter.tags}
      transition:name={frontmatter.title + frontmatter.tags.join(":")}
    />

    <div
      class="mb-8 mt-8 grid aspect-video w-full max-w-3xl place-content-center rounded-lg bg-nord-4 text-nord-1 shadow
      dark:bg-nord-1 dark:text-nord-6"
    >
      {frontmatter.image ? "image" : "no-image"}
    </div>

    <Prose>
      <slot />
    </Prose>
  </header>
</Layout>
